html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Arial,sans-serif;
  line-height: 1.5;
  max-width: 700px;
  margin: 0 auto;
}

h1 {
    margin: 4rem 0;
    font-weight: 600;
}

h2 {
    margin: 2rem 0 .5rem 0;
}

ul, ol {
    padding-left: 2rem;
}

li a {
    color: #000000;
}

li, a {
    text-decoration: none;
}

a.return-home {
    display: block;
    padding: 1rem;
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    border-radius: 8px;
    margin: 2rem 0;
     text-decoration: none;
}

img, .return-home {
    border-radius: 8px;
}

